<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>748061288903-0o4vgd3pgvr1k8gsirfjgp9tuaihrhm1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.748061288903-0o4vgd3pgvr1k8gsirfjgp9tuaihrhm1</string>
	<key>API_KEY</key>
	<string>AIzaSyD3uIrKpOg0pilIuWAoMRlJ6ggiN0CkHjM</string>
	<key>GCM_SENDER_ID</key>
	<string>748061288903</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>pro.ject.allgoApp</string>
	<key>PROJECT_ID</key>
	<string>allgo-ca2c4</string>
	<key>STORAGE_BUCKET</key>
	<string>allgo-ca2c4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:748061288903:ios:4a8f2ad85c2072d0b251e2</string>
</dict>
</plist>